apiVersion: apps/v1
kind: Deployment
metadata:
  name: attendance-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: attendance
  template:
    metadata:
      labels:
        app: attendance
    spec:
      containers:
        - name: attendance-container
          image: attendance-app:v1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80